{%extends "blog/base.html"%}
{%block content%}
  <h1 class = "mb-3">{{title}} ({{page_obj.paginator.count}})</h1>
  <p class = "my-3 ml-3">
        <i class="fas fa-hashtag"></i> Common Tags :
        {% for mt in common_tags %}
               <a href="{% url 'tags' mt.slug %}" class="badge badge-success">#{{mt}}</a>
        {% endfor %}
  </p>
  {%for post in posts%}
      <article class="media content-section">
        <img class = "rounded-circle article-img" src = "{{post.author.profile.image.url}}">
        <div class="media-body rounded">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'publicprofiles' post.author.id%}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
            {% if user_is_author %}
              {%if post.is_published %}
                <p><i class="fas fa-circle"></i> Published</p>
              {% else %}
                <p><i class="far fa-circle"></i> Not Published</p>
              {% endif %}
            {% endif %}
          </div>
          <p class = "text-secondary text-muted"><i class="far fa-clock"></i> Reading Time : {{post.reading_time}}  minute{{ post.reading_time|pluralize }}<br />
            <i class="fas fa-heart"></i> Likes : {{post.number_of_likes}}<br />
            <i class="fas fa-comment-alt"></i> Comments : {{post.number_of_comments}}<br>
            <i class="fas fa-hashtag"></i> Tags:
            {% for tag in post.tags.all %}
                <a href="{% url 'tags' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
          </p>
          <h2 class="article-title text-break">{{ post.title }}</h2>
          <p class = "text-muted text-break">{{ post.tagline }}</p>
          <a class="btn mt-4 btn-outline-dark bg-steel text-white" href="{% url 'post-detail' post.id%}"><i class="fas fa-book-open fa-md"></i>  Read More</a>
        </div>
      </article>
  {%endfor%}
  {%if is_paginated%}
    {% if page_obj.has_previous%}
      <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {%endif%}
    {%for num in page_obj.paginator.page_range%}
      {%if page_obj.number == num%}
        <a class = "btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>
      {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
        <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{num}}</a>
      {%endif%}
    {%endfor%}
    {% if page_obj.has_next%}
      <a class = "btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {%endif%}
  {%endif%}



{%endblock content%}