{%extends "blog/base.html"%}
{%block content%}
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link active" href="{%url 'message-inbox' %}">
      Inbox
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'message-sent' %}">Sent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'message-create' %}">New message</a>
  </li>
</ul>
  <h1>Message Inbox</h1>
  {%for message in inbox_messages%}
      <article class="media content-section">
        <img class = "rounded-circle article-img" src = "{{message.sender.profile.image.url}}">
        <div class="media-body">
          <div class="article-metadata">
            From :
            <a class="mr-2" href="{%url 'publicprofiles' message.sender.id %}">{{ message.sender.username }}</a>
            <small class="text-muted">{{ message.created_at }}</small>
          </div>
          <p>{{ message.msg_content }}</p>
          <p class="text-muted">To : {{message.reciever.username}}</p>
        </div>
      </article>
  {%endfor%}

  {%if is_paginated%}
    {% if page_obj.has_previous%}
      <a class = "btn btn-outline-info mb-4" href="?page=1&users_search_request={{ query }}">First</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}&users_search_request={{ query }}">Previous</a>
    {%endif%}
    {%for num in page_obj.paginator.page_range%}
      {%if page_obj.number == num%}
        <a class = "btn btn-info mb-4" href="?page={{ num }}&users_search_request={{ query }}">{{num}}</a>
      {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
        <a class = "btn btn-outline-info mb-4" href="?page={{ num }}&users_search_request={{ query }}">{{num}}</a>
      {%endif%}
    {%endfor%}
    {% if page_obj.has_next%}
      <a class = "btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}&users_search_request={{ query }}">Next</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}&users_search_request={{ query }}">Last</a>
    {%endif%}
  {%endif%}

{%endblock content%}
