{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link" href="{%url 'message-inbox' %}">
      <i class="far fa-envelope"></i> Inbox
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'message-sent' %}">
        <i class="fas fa-envelope"></i> Sent
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{%url 'message-create' %}">
        <i class="fas fa-plus"></i> New message
    </a>
  </li>
</ul>
    <div class = "content-section">
        <form method="post">
            {% csrf_token%}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">
                    New Message
                </legend>
                {{form | crispy}}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Send</button>
            </div>
        </form>
    </div>
{%endblock content%}


